@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
 
#add_assignment {    
    border:0px;
    color:#FFF;
    background-color:#282936;
    border-radius: 1.2rem;
    font-family: 'Mukta';
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2.5px;
}

#final_calculator {
    border:0px;
    color:#FFF;
    background-color:#282936;
    border-radius: 1.2rem;
    font-family: 'Mukta';
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2.5px;
}

.userscores {
  width: 50px;
}
